.creations{

    a:link, a:visited, a:focus, a:active{
        text-decoration:none;
        color: black;
    }

    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    
    &__header{

        animation-name:fadeInLeft;
        max-width: 1150px;
        display: flex;
        flex-flow:row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom:90px;

        a:hover{
            color:white;
            background-color:black;
            transition: all ease-in-out 200ms;
        }

        @include breakpoint-down(medium){
            justify-content:center;
            padding-bottom:60px;
        }

        .seeAll__header
        {
            
            text-transform: uppercase;
            letter-spacing:3px;
            font-weight: 300;
            border:solid 1px $veryDarkGray;
            padding-left: 40px;
            padding-right: 40px;
            padding-top:10px;
            padding-bottom: 10px;

            @include breakpoint-down(medium){
                display: none;
            }
   
        }
        
    }

    &__footer{
        display: inline-flex;
        justify-content:center;
        width:100%;
        height: auto;
        padding-bottom:100px;

        a:hover{
            color:white;
            background-color:black;
            transition: all ease-in-out 200ms;
        }

        @include breakpoint-up(large){
            display:none;
        }
        .seeAll__footer
        {
            text-transform: uppercase;
            letter-spacing:3px;
            font-weight: 300;
            border:solid 1px $veryDarkGray;
            padding-left: 40px;
            padding-right: 40px;
            padding-top:10px;
            padding-bottom: 10px;
        }

        
}

    &__grid{
        
        max-width: 1150px;
        display: inline-grid;
        width: 100%;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows:auto;
        gap:30px;
        padding-bottom:180px;

        &__item{

            animation-name:fadeInUp;
            position: relative;

            &__pic{

                position: absolute;
                &__desktop{

                    @include breakpoint-down(medium){
                        display:none;
                    }               
                    position:relative;
                    width:100%;
                    height: 100%;
                    }
                

                &__mobile{

                    width: 100%;
                    @include breakpoint-up(large){
                        display:none; 
                    }
                }

            }  

            &__text{

                position: absolute;
                bottom: 32px;
                left: 41px;

                >h3{
                    transition: color ease-in-out 200ms;
                    font-family: $Josefin;
                    font-weight: 200;
                    font-size:1.9rem;
                    color: white;
                    text-transform: uppercase;

                    @include breakpoint-down(small){
                        font-size:$font-lg;
                    }
                }

                @include breakpoint-down(large){
                    bottom:26px;
                    left:22px;
                }

            }
        }

        @include breakpoint-down(medium){
            padding-bottom:35px;
            grid-template-columns:1fr;
            grid-template-rows:auto;
            gap:25px;
        }
    }

    
}