.header{

    padding-bottom:164px;
    animation-name: fadeInDown;
    
    .logo{
        position:absolute;
        width: 115px;
        height: auto;
        z-index: 2;
        
        @include breakpoint-up(large){
            width: 200px;
        }
    }

    .burger__icon{

        position: absolute;
        display:inline-flex;
        width: 1.5625rem;
        height: 0.875rem;
        right: 1.5rem;
        top: 2.8125rem;
        cursor: pointer;
        

        @include breakpoint-up(large){
            display:none;
        }

        .burger{
            z-index: 1;
            position:absolute;
            width: 1.5625rem;
            height: .125rem;
            top: .375rem;
            background: white;
            cursor: pointer;

            &::before, &::after{
                content:'';
                position: absolute;
                width: 1.5625rem;
                height: 0.125rem;
                background: white;
            }

            &::before{
                top: -6px;
            }

            &::after{
                bottom: -6px;
            }
        }
    }
}