.header{
    
    .logo{
        width: 115px;
        height: auto;

        @include breakpoint-up(xlarge){
            width: 200px;
        }
    }

    .icon{

        position: absolute;
        display:inline-block;
        width: 1.5625rem;
        height: 0.875rem;
        right: 1.5rem;
        top: 2.8125rem;
        cursor: pointer;

        @include breakpoint-up(xlarge){
            display:none;
        }

        .burger{
            position:absolute;
            width: 1.5625rem;
            height: .125rem;
            top: .375rem;
            background: white;
            cursor: pointer;

            &::before, &::after{
                content:'';
                position: absolute;
                width: 1.5625rem;
                height: 0.125rem;
                background: white;
            }

            &::before{
                top: -6px;
            }

            &::after{
                bottom: -6px;
            }
        }
    }
}