.nav{
    
    display:none;

    &.desktop{

    
        @include breakpoint-up(medium){
           
            display:flex;
            float:right;
            color:white;
            right:0;

            .nav__item{
                align-items:top;
                position:relative;
                display:flex;
                flex-direction:column;
                padding-left:1.8125rem;
                

                >a{
                    &:after{
                        content: '';
                        width: 0px;
                        position:absolute;
                        left:29px;
                        bottom:-5px;
                        transition: all 0.2s ease 0s;
                        height: 2px;
                        background-color: white;
                        
                    }
                    &:hover{
                        &:after{
                            width: calc(100% - 29px);
                        }
                    }
                }
                
                &.open{
                    top:0;
                }
    
                &.close{
                    top: 0;
                }
            }
        }
    }

    &.mobile{

        @include breakpoint-down(medium){ 
            
            transition: ease-in-out 200ms;
            display:flex;
            position:absolute;
            padding:0;
            margin:0;
            top:0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            flex-flow:column;
            justify-content:center;
            z-index: 1;
            

            .nav__item{
                font-family: $Josefin;
                padding-top: 32px;
                font-size: 20px;
                padding-left:26px;
                text-transform:uppercase;
                text-decoration-color:white;
                
                >a{
                    width: auto;
                    &:hover{
                        &:after{
                            width: 125px;
                        }
                    }
                }
            }
            &.open{
                top:0;
            }

            &.close{
                top: -70rem;
            }
            
            
            @include breakpoint-up(large){
                display:none;
            }
        }
    }
}