//Colors
$white:hsl(0, 0%, 100%);
$black:  hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);


//Fonts
$font-lg: 1.6875rem;
$font-med: 0.9375rem;
$font-sm: 0.75rem;
$Alata: 'Alata', sans-serif;
$Josefin: 'Josefin Sans', sans-serif;