*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

a:link, a:focus, a:visited, a:focus, a:active {
  text-decoration: none;
  color: white;
}

.attribution {
  position: absolute;
  bottom: 5px;
  font-size: 0.75rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: black;
}

.attribution a:link, .attribution a:visited, .attribution a:hover {
  color: red;
}

.container {
  width: calc(100%-3rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
}

@media (min-width: 64em) {
  .container {
    width: calc(100%-20.6rem);
    padding-left: 10.3rem;
    padding-right: 10.3rem;
    padding-top: 4rem;
  }
}

.grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 550;
  display: inline-block;
}

@media (max-width: 63.9375em) {
  h2 {
    font-size: 1.85rem;
  }
}

.filter__black {
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}

.filter__black:hover {
  background-color: white;
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
  -webkit-transition: background-color ease-in-out 200ms;
  transition: background-color ease-in-out 200ms;
}

.header {
  padding-bottom: 164px;
}

.header .logo {
  position: absolute;
  width: 115px;
  height: auto;
  z-index: 2;
}

@media (min-width: 64em) {
  .header .logo {
    width: 200px;
  }
}

.header .burger__icon {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5625rem;
  height: 0.875rem;
  right: 1.5rem;
  top: 2.8125rem;
  cursor: pointer;
}

@media (min-width: 64em) {
  .header .burger__icon {
    display: none;
  }
}

.header .burger__icon .burger {
  z-index: 1;
  position: absolute;
  width: 1.5625rem;
  height: .125rem;
  top: .375rem;
  background: white;
  cursor: pointer;
}

.header .burger__icon .burger::before, .header .burger__icon .burger::after {
  content: '';
  position: absolute;
  width: 1.5625rem;
  height: 0.125rem;
  background: white;
}

.header .burger__icon .burger::before {
  top: -6px;
}

.header .burger__icon .burger::after {
  bottom: -6px;
}

.nav {
  display: none;
}

@media (min-width: 40em) {
  .nav.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    color: white;
    right: 0;
  }
  .nav.desktop .nav__item {
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1.8125rem;
  }
  .nav.desktop .nav__item > a:after {
    content: '';
    width: 0px;
    position: absolute;
    left: 29px;
    bottom: -5px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    height: 2px;
    background-color: white;
  }
  .nav.desktop .nav__item > a:hover:after {
    width: calc(100% - 29px);
  }
  .nav.desktop .nav__item.open {
    top: 0;
  }
  .nav.desktop .nav__item.close {
    top: 0;
  }
}

@media (max-width: 63.9375em) {
  .nav.mobile {
    -webkit-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }
  .nav.mobile .nav__item {
    font-family: "Josefin Sans", sans-serif;
    padding-top: 32px;
    font-size: 20px;
    padding-left: 26px;
    text-transform: uppercase;
    -webkit-text-decoration-color: white;
            text-decoration-color: white;
  }
  .nav.mobile .nav__item > a {
    width: auto;
  }
  .nav.mobile .nav__item > a:hover:after {
    width: 125px;
  }
  .nav.mobile.open {
    top: 0;
  }
  .nav.mobile.close {
    top: -70rem;
  }
}

@media (max-width: 63.9375em) and (min-width: 64em) {
  .nav.mobile {
    display: none;
  }
}

.hero {
  position: aboslute;
  height: 40.25rem;
  width: 100%;
  min-width: 330px;
  top: 0;
  background-image: url("/images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 95px;
}

@media (min-width: 64em) {
  .hero {
    margin-bottom: 110px;
  }
}

.hero .banner {
  height: 280px;
  width: 100%;
}

.hero .banner__content {
  z-index: 0;
  width: 98%;
  max-width: 650px;
  height: 280px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid white;
  position: absolute;
  text-transform: uppercase;
  font-size: 70px;
  text-align: left;
  font-weight: 300;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  left: 10.3rem;
  padding: 40px;
  margin: 0;
  cursor: default;
}

@media (max-width: 63.9375em) {
  .hero .banner__content {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

@media (max-width: 39.9375em) {
  .hero .banner__content {
    padding: 25px;
    height: 208px;
    font-size: 40px;
    max-width: 330px;
  }
}

@media (min-width: 40em) {
  .hero {
    background-image: url("/images/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
  }
}

.lead__grid {
  max-width: 1544px;
  margin: 0;
  height: 744px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 15%;
      grid-template-columns: 50% 15%;
  -ms-grid-rows: 33%;
      grid-template-rows: 33%;
  padding-bottom: 186px;
  justify-items: center;
}

.lead__grid .lead__pic {
  max-width: 721px;
  width: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("/images/desktop/image-interactive.jpg");
  background-size: cover;
}

.lead__grid .lead__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: end;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: end;
  background-color: white;
  text-align: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.lead__grid .lead__text .lead__text__content {
  padding-left: 100px;
}

.lead__grid .lead__text .lead__text__content > h2 {
  padding-bottom: 30px;
}

.lead__grid .lead__text .lead__text__content > p {
  font-size: 0.9375rem;
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
  line-height: 1.5rem;
}

@media (max-width: 81.25em) {
  .lead__grid {
    min-width: 330px;
    padding-bottom: 100px;
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(492px, auto) 1fr;
        grid-template-rows: minmax(492px, auto) 1fr;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lead__grid .lead__pic {
    background-image: url("/images/mobile/image-interactive.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: span 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .lead__grid .lead__text {
    text-align: center;
    grid-column: span 1;
    padding-left: 0;
  }
  .lead__grid .lead__text .lead__text__content {
    padding-left: 0;
    padding-top: 54px;
  }
  .lead__grid .lead__text .lead__text__content > p {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 39.9375em) {
  .lead__grid {
    -ms-grid-rows: minmax(224px, auto) 1fr;
        grid-template-rows: minmax(224px, auto) 1fr;
  }
  .lead__grid .lead__pic {
    background-image: url("/images/mobile/image-interactive.jpg");
    background-size: cover;
    grid-row: span 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.creations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.creations a:link, .creations a:visited, .creations a:focus, .creations a:active {
  text-decoration: none;
  color: black;
}

.creations__header {
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 90px;
}

.creations__header a:hover {
  color: white;
  background-color: black;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

@media (max-width: 63.9375em) {
  .creations__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 60px;
  }
}

.creations__header .seeAll__header {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  border: solid 1px dimgray;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 63.9375em) {
  .creations__header .seeAll__header {
    display: none;
  }
}

.creations__footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}

.creations__footer a:hover {
  color: white;
  background-color: black;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

@media (min-width: 64em) {
  .creations__footer {
    display: none;
  }
}

.creations__footer .seeAll__footer {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  border: solid 1px dimgray;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.creations__grid {
  max-width: 1150px;
  display: -ms-inline-grid;
  display: inline-grid;
  width: 100%;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 30px;
  padding-bottom: 180px;
}

.creations__grid__item {
  position: relative;
}

.creations__grid__item__pic {
  position: absolute;
}

.creations__grid__item__pic__desktop {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 63.9375em) {
  .creations__grid__item__pic__desktop {
    display: none;
  }
}

.creations__grid__item__pic__mobile {
  width: 100%;
}

@media (min-width: 64em) {
  .creations__grid__item__pic__mobile {
    display: none;
  }
}

.creations__grid__item__text {
  position: absolute;
  bottom: 32px;
  left: 41px;
}

.creations__grid__item__text > h3 {
  -webkit-transition: color ease-in-out 200ms;
  transition: color ease-in-out 200ms;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 1.9rem;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 39.9375em) {
  .creations__grid__item__text > h3 {
    font-size: 1.85rem;
  }
}

@media (max-width: 81.25em) {
  .creations__grid__item__text {
    bottom: 26px;
    left: 22px;
  }
}

@media (max-width: 63.9375em) {
  .creations__grid {
    padding-bottom: 35px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 25px;
  }
}

.footer {
  padding-top: 45px;
  width: 100%;
  height: 160px;
  background-color: black;
}

.footer .grid__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 63.9375em) {
  .footer .grid__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 63.9375em) {
  .footer {
    height: 500px;
  }
}

.footer__grid__nav {
  display: -ms-grid;
  display: grid;
  width: 50%;
  height: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media (max-width: 63.9375em) {
  .footer__grid__nav {
    width: 100%;
    height: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    justify-items: center;
  }
}

.footer__grid__nav .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 63.9375em) {
  .footer__grid__nav .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__grid__nav .footer__nav .nav__item {
  padding-right: 30px;
  height: auto;
}

.footer__grid__nav .footer__nav .nav__item > a {
  position: relative;
}

.footer__grid__nav .footer__nav .nav__item > a:after {
  content: '';
  width: 0px;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  height: 2px;
  background-color: white;
}

.footer__grid__nav .footer__nav .nav__item > a:hover:after {
  width: 100%;
}

@media (max-width: 63.9375em) {
  .footer__grid__nav .footer__nav .nav__item {
    padding-right: 0;
    padding-top: 40px;
  }
  .footer__grid__nav .footer__nav .nav__item:not(:first-child) {
    padding-top: 30px;
  }
}

.footer__grid__social {
  display: -ms-grid;
  display: grid;
  width: 50%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media (max-width: 63.9375em) {
  .footer__grid__social {
    width: 100%;
    height: 50%;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: auto;
}

@media (max-width: 63.9375em) {
  .footer__icons {
    padding-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__icons a.social__link {
  position: relative;
}

.footer__icons a.social__link:after {
  content: '';
  width: 0px;
  position: absolute;
  left: 0;
  bottom: 25.5px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  height: 2px;
  background-color: white;
}

@media (max-width: 63.9375em) {
  .footer__icons a.social__link:after {
    bottom: -5px;
  }
}

.footer__icons a.social__link:hover:after {
  width: 100%;
}

.footer__icons a.social__link:hover:after:not(:first-child) {
  width: calc(100% - 25px);
}

.footer__icons a.social__link:not(:first-child) {
  padding-left: 25px;
}

.footer__icons a.social__link:not(:first-child):after {
  left: 25px;
}

.footer__icons a.social__link:not(:first-child):hover:after {
  width: calc(100% - 25px);
}

@media (max-width: 63.9375em) {
  .footer__icons a.social__link:not(:first-child) {
    padding-left: 15px;
  }
  .footer__icons a.social__link:not(:first-child):after {
    left: 15px;
    bottom: -5px;
  }
  .footer__icons a.social__link:not(:first-child):hover:after {
    width: calc(100% - 15px);
    left: 15px;
  }
}

.footer__icons > img {
  width: 25px;
  height: 25px;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: auto;
}

@media (max-width: 63.9375em) {
  .footer .copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 12px;
  }
}

.footer .copyright > p {
  color: dimgray;
}
/*# sourceMappingURL=styles.css.map */